<div id="toc"><%= converter.convert self, 'outline' %></div>
<article>
<%= header.render() %>
<%= content %>
<% if self.footnotes? %>
<div id="footnotes">
  <hr>
  <ul>
  <% self.footnotes.each do |fn| %>
    <li class="footnote" id="_footnotedef_<%= fn.index %>">
      <%= fn.index %>. <%= fn.text %>
    </li>
  <% end %>
  </ul>
<% end %>
</article>
